 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }
 
 p {
     text-align: justify;
 }
 
 header {
     background-color: rgb(46, 55, 69);
     height: 70vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 header h1 {
     color: white;
 }
 
 header h1:first-child {
     font-size: 3rem;
 }
 
 a {
     color: white;
 }
 
 main {
     padding: 5rem;
     padding-top: 3rem;
 }
 
 main h1 {
     text-align: center;
     font-size: 2rem;
 }
 
 main article:first-child p {
     text-align: center;
 }
 
 .Certificates {
     display: flex;
     background-color: gray;
     margin-top: 3rem;
 }
 
 .Certificates>div {
     width: 50%;
     background-color: white;
     padding: 1rem;
 }
 
 .Certificates div:first-child {
     margin-right: 0.1rem;
 }
 
 .Certificates i {
     color: rgb(192, 149, 0);
     width: 100%;
     margin: auto;
 }
 
 h3 small {
     font-size: 0.8rem;
 }
 
 h1+div {
     text-align: center;
     margin-top: 1rem;
 }
 /*  */
 
 .experience {
     margin-Top: 3rem;
 }
 
 .experience>div {
     border-left: gray solid 1px;
     text-align: left;
     padding-left: 3rem;
 }
 
 .experience p {
     margin-top: 1rem;
 }
 
 article {
     margin-top: 3rem;
     width: 100%;
 }
 
 .Education h1 {
     margin-bottom: 1rem;
 }
 
 .arrange {
     display: flex;
 }
 
 .itemA {
     flex: 1;
     color: white;
     background-color: rgb(46, 55, 69);
     margin: 1rem;
     padding: 1rem;
     border-radius: 5px;
 }
 
 .itemA h4 {
     text-transform: uppercase;
 }
 
 .itemA p {
     text-align: justify;
 }
 
 .skills {
     display: flex;
 }
 
 .skills h3 {
     text-align: left;
 }
 
 .skill {
     margin: 0.5rem;
     flex: 1;
     width: 100%;
 }
 
 .skillContainer {
     background-color: rgb(206, 204, 204);
     height: 10px;
     border-radius: 5px;
 }
 
 .skillPercentage {
     background-color: rgb(46, 55, 69);
     height: 10px;
     border-radius: 5px;
 }
 
 .p-90 {
     width: 90%;
 }
 
 .p-80 {
     width: 80%;
 }
 
 .p-70 {
     width: 70%;
 }
 
 .Project {
     flex: 1;
     margin: 1rem;
     padding: 1rem;
     border-radius: 10px;
     border: 1px solid gray;
 }
 
 .Project div a img {
     width: 5rem;
 }
 
 footer {
     height: 7vh;
     background-color: rgb(46, 55, 69);
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 footer p {
     color: white;
 }
 
 @media (max-width: 480px) {
     header h1:first-child {
         font-size: 2rem;
     }
     header h1:nth-child(2) {
         font-size: 1.5rem;
     }
     main {
         padding: 1rem;
         padding-top: 1rem;
     }
     .Certificates {
         margin-top: 1rem;
         flex-direction: column;
         background-color: white;
     }
     .Certificates>div {
         width: 100%;
         background-color: white;
         padding-bottom: 1.6rem;
     }
     .Certificates div:first-child {
         margin-right: 0;
     }
     .experience>div {
         border-left: none;
         text-align: center;
         padding-left: 0;
     }
     .experience p {
         text-align: justify;
     }
     .arrange {
         flex-direction: column;
     }
     .itemA {
         margin: 0.5rem 0rem;
         padding: 0.5 1rem;
         border-radius: 5px;
         color: black;
         background-color: white;
     }
     .itemA h4 {
         color: gray;
         text-transform: none;
         text-decoration: none;
     }
     .skills {
         flex-direction: column;
     }
 }